body {
  background-image: url("background.png");
  background-size: cover;
  font-family: 'Russo One', sans-serif;
}

#box {
 outline: 5px solid gray;
 padding: 10px;
 
}

#boxTwo {
  outline: 5px solid gray;
  padding: 10px;
}

.container {
   padding: 0px;
}

#jumbotronMain {
  background: linear-gradient(gray, gainsboro);
}